body {
    background-image: url('space.jpg');
    background-size: cover;
    /* This ensures the image covers the entire background */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    height: 100vh;
    /* Ensures the body takes full viewport height */
    background-color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    /* Center the text in the container */
    /* Add other styles for the container if needed */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

button {
    background-color: #fff;
    color: darkmagenta;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

.main-gif {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 15px;
}