body {
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 165, 0);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: rgb(0, 30, 0);
    color: rgb(90, 255, 90);
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.container {
    padding: 35px 60px 20px 35px;
    border-radius: 10px;
}

.containerForText {
    padding: 5px 5px 5px 5px;
    border: 30px;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme .containerForText {
    background-color: rgb(0, 45, 0);
}

#containerForWallet {
    width: fit-content;
}

.dark-theme #containerForWallet {
    width: fit-content;
}

#containerForInput {
    border-radius: 0px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    color: rgb(10, 85, 10);
    text-align: center;
}

.dark-theme #containerForInput {
    background-color: rgb(20, 20, 20);
    color: rgb(0, 255, 0);
}

.absolute-bottom {
    padding: 20px 0px 20px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(10, 85, 10);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-theme input[type="text"] {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    border-color: rgb(85, 85, 85);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(122, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s;
}

button:hover {
    background-color: rgb(152, 0, 0);
}

.transparent {
    color: #00000000;
    background-color: #00000000;
}

.transparent:hover {
    color: #00000000;
    background-color: #00000000;
}

.error {
    color: rgb(165, 0, 0);
}

.dark-theme .error {
    color: rgb(255, 90, 90);
}

.warning {
    color: rgb(165, 165, 0);
}

.dark-theme .warning {
    color: rgb(255, 255, 90);
}

.sysmsg {
    color: rgb(0, 0, 165);
}

.dark-theme .sysmsg {
    color: rgb(90, 90, 255);
}

.window {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 2px solid #222;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dark-theme .window {
    border: 2px solid #007070;
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.window-header {
    background-color: #222;
    color: white;
    padding: 4px 4px 4px 4px;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.dark-theme .window-header {
    background-color: #007070;
    color: rgb(0, 0, 0);
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #222;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.dark-theme .resize-handle {
    background-color: #007070;
}

.close-btn {
    background: none;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 7px;
    cursor: pointer;
}

.dark-theme .close-btn {
    color: rgb(0, 0, 0);
}

.window-content {
    padding: 10px;
    font-size: 14px;
    overflow: auto;
}